<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.event" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Constants"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_event"
            android:screenOrientation="portrait" >
        </activity>

        <provider
            android:name=".data.NotaProvider"
            android:authorities="com.example.android.event"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".NotaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_nota"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
